@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,400&display=swap');

:root {
  --dark-blue: #0a141e;
  --medium-blue: #466e9b;
  --light-blue: #79bcd7;
  --bright-blue: #b4ebff;
  --green: #92bf19;
  --light-green: #b4f000;
  --pink: #be78be;
  --light-pink: #d28cd2;
  --orange: #ff3700;
  --light-orange: #ff6900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  color: #fff;
  background: var(--dark-blue);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  font-weight: 700;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1160px;
  margin: auto;
  padding: 0 7%;
}